.user-details-container {
    width: 100%;
    /* padding: 20px; */
    box-sizing: border-box;
  }
  
  /* Table styles */
  .user-details-table {
    width: 100%;
    /* border-collapse: collapse; */
    margin: 0 auto;
  }
  
  .table-heading th {
    /* background-color: #f8f9fa; */
    font-size: 15px;
    color: rgb(104, 103, 103) ;
  padding-left: 12px;
    font-weight: normal;
    border: none;
    /* border: 2px solid black; */
    height: 50px;
    padding-top: 20px;
  }
  
  .table-tr td{
    /* text-align: center; */
    padding-left: 12px;
    border: 1px solid #ddd;
    height: 40px;
  }